 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Itim&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  background-color: #fafafa;
  color: #333;
}
/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header nav .hire-talent {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  background-color: #fff;
}

header .logo {
  font-size: 2rem;
  font-weight: 700;
}

header nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header .hire-talent {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  margin-right: 40px;
}
.big {
  height: 700px;
}

.hero {
  text-align: left;
  /* padding-left: 3rem 2rem; */
  /* background: linear-gradient(to bottom, #fafafa, #e0f7e9); */
  height: 900px;
  width: 100vw;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.hero .subtitle {
  max-width: 600px;
  margin-bottom: 2rem;
  color: #666;
}
.outer-div{
  background-color: black;
  height: 60px;
  width: 200px;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height:55px ;
  width: 55px;
  background-color: white;
  border-radius: 50%;
  /* padding-right: 15px; */
  margin-right: 3px;
  /* color: red; */
}
.access{
  padding-left: 12px;
  color: white;
}
.div-right-end{
  transition:all 0.8s ;
  position: relative;
  transform: translateX(-140px);
  background-color: black;
  color: white;
  border: 2px solid white;
}
.div-left-end{
  transition:all 0.8s ;
  position: relative;
  transform: translateX(0px);
  /* transform: translateX(-140px); */
}
.access-right-end{
  transition:all 0.8s ;
  position: relative;
  transform: translateX(75px);
}
.access-left-end{
  transition:all 0.8s ;
  position: relative;
  transform: translateX(0px);
  /* transform: translateX(-140px); */
}
/* .access-talent {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
} */

.profiles {
  /* display: flex; */
  gap: 1.5rem;
  /* margin-top: 2rem; */
}

.profile {
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.profile h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.profile p {
  color: #666;
}

.content {
  margin-top: 100px;
  width: 570px;
  height: 500px;
  margin-left: 70px;
  /* margin-right: 20px; */
  /* background-color: red; */
  /* padding: 0; */
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-140px);
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0);
}
.hidden2{
    opacity: 0;
    transition: all 1s;
    filter: blur(4px);
    transform: translateY(-50px);
}
.show2{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}
.hidden3{
    opacity: 0;
    transition: all 1s;
    filter: blur(4px);
    transform: translateY(50px);
}
.show3{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}
.p3 img{
    /* position: relative; */
    right: 20px;
    height: 180px;
    width: 150px;
    border-radius: 12%;
}
.p2 img{
    /* position: relative; */
    right: 20px;
    height: 200px;
    width: 170px;
    border-radius: 12%;
}
.p1 img{
    /* position: relative; */
    right: 20px;
    height: 250px;
    width: 220px;
    border-radius: 12%;
}
.p1{
    position: relative;
    right: 550px;
}
.p2{
    position: relative;
    right: 150px;
    /* top: 50px; */
} 
.p3{
    position: relative;
    right: 220px;
}
.p1{
    bottom: 880px;
}
.p2{
    bottom: 800px;
}
.p3{
    bottom: 920px;
}
.static{
    position: relative;
    right: 330px;
    top: 150px;
    /* top: 50px; */
} 
.move1{
    position: relative;
    right: 430px;
    bottom: 360px;
    /* top: 150px; */
    /* top: 50px; */
} 
.move2{
    position: relative;
    right: 100px;
    bottom: 360px;
    /* top: 150px; */
    /* top: 50px; */
} 
.company {
  display: flex;
  /* height: 10px;
  width: 10px; */
  justify-content: space-evenly;
}
.imgA{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgB{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgC{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgD{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgE{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgF{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.imgG{
  position: relative;
  height: 30px;
  width: 90px;
  top: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.intro {
  font-weight: 700;
  font-size: medium;
  text-align: center;
  margin: 0px 5px 10px 5px;
}
.cost {
  background-color: #DFEFD7;
  border-radius: 25px;
  width: 300px;
  margin-left: 150px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  font-size: large;
  font-weight: bolder;
  margin-top: 20px;
}

.BOX1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  border-radius: 30px;
}
.box1R1 p {
    margin-left: 150px;
    margin-right: 50px;
  margin-top: 20px;
  font-size: 15px;
  width: 300px;
}
.BOX2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  border-radius: 30px;
}
.BOX1 h3 {
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
  height: 40px;
}
.BOX2 h3 {
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
  height: 40px;
}
/* From Uiverse.io by nikk7007 */ 
.cont {
  display: flex;
  align-items: center;
  transform: scale(1);
  position: relative;
  bottom: 30px;
  left: 30px;
}

input[type="checkbox"] {
  height: 1.7rem;
  width: 1.7rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

input[type="checkbox"]::after {
  content: '';
  display: block;
  height: 0.9rem;
  width: .4rem;
  border-bottom: .31rem solid white;
  border-right: .31rem solid white;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 21%;
  transition: .25s ease;
}

input[type="checkbox"]::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  background-color: rgb(42, 121, 97);
  border-radius: 50%;
  opacity: .5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .3s ease;
}

input[type="checkbox"]:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

input[type="checkbox"]:checked::after {
  opacity: 100%;
}

span {
  font-size: 2rem;
}
.cost1 {
    background-color: #DFEFD7;
    border-radius: 25px;
    width: 200px;
    margin-left: 150px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}
.why {
  margin-left: 100px;
}
.why h1 {
  font-size: 60px;
}